@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(https://lh3.googleusercontent.com/CRl-2FayVXflvaG0IAI1rrj3vzZMM5y01SC1CBT_6xipeudWb9bKlNZi78tbqJpczU6ORNjhUc6nHmr3FxVN1eAvv1wgJdhrr6BMabxhoCealkeJmQePSGQi3yEjQhKlA39nwWSNAldPgwGYIAmL8dIzK4G94yQQz1YiDEccGHWTWDNo59_AjRrNF6cVZCx1shjiuwYiSMI565e5flum_OPapHbCqKoaAV0Y75TCGmV3KE6_HwBPJ7KqX9cfsnR_5Cy7U8qTn5vWaKspLIovmi5u1PptMvf41XbZaEeVqnqnAVR-nEkFmVrsrD_VJOdVx2UqUIGaSTmWQRL_uiRrEQCjB31-UVgm5FgJke9rXtcJqqqD986otKs38CiwbD2wSysMPy0OKxe_vJqXpIIs6qFNGo9eQ45_uIjNkTo807uqX8hg27sqpNT8Z83WQLfQEmIxg5LchT23-8lPbfVkK2hcM5g-8l-pcEFo68McZDbKungZWqUe6xiubjq_4z45OXj4iOdehsLsyKhr9i3lQTowBzRo6gLYGbrYKRyIFDjHmfggwnFzEqXekTx7ahvjGJwePMrgx83-lDyBcdsnqYTFkkoq2xDXVDzxs2Rj9VBkz6EkZ3vFmj_zc2AfP0zxwRd0ZgUbep5moKjwgfFMv2V8PqhIlGz20Ga8dB8tEotlCmsJVZOJkKlruHPRk4iGpjE_j3L2FMeX0pdM9pB_IGbT47457zhCM7b4s7L123TMCSoiXHSQICwbRPIWND1GOjdcZIM9NOix6JJjRVCKqQvKhOhbau0p2P0uQkCOAjr2iOvlKIzXBGvpUTGPXH8vp_hxDCzHWdzFA4ANd1HhxEkU33WtxryKEPUed0leubqx1pCgmQc9_fLEPHXr6PLitioBOEYAV0pARLL8FLO_6FBcz44byit--ttGr7itOEsSXVy6oMEh-7VIs5uPKxB9GgE5XBgAbGEtXhLZKUU=w1013-h625-no?authuser=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}

.container {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #0d009c;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #0d009c;
  pointer-event: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: #4038a0
}

button{
  background-color: transparent;
  border-color: #0d009c;
  color: #0d009c;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #0d009c;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #0d009c;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}


